<div class = "container">
    <div class="homepage-img-container">
        <img class="homepage-image" src="https://www.pnnl.gov/sites/default/files/media/image/GRID_DATA_IMAGE_small_1.jpg">
        <div id="welcome">Energy Management System</div>
    <div><p class="text">Welcome to the Future of Energy Management!

        In a world where sustainability, efficiency, and responsible resource utilization are paramount, our Energy Management System (EMS) stands at the forefront of innovation. At EMS, we are dedicated to empowering businesses, organizations, and homeowners with the tools and insights they need to take control of their energy consumption, reduce costs, and minimize their environmental footprint.
        
        Our cutting-edge Energy Management System seamlessly integrates state-of-the-art technology with intelligent data analytics to provide you with a comprehensive solution for optimizing energy usage. Whether you're a forward-thinking corporation looking to minimize operational expenses, a facility manager striving to enhance building performance, or a homeowner seeking to reduce your energy bills, our EMS is tailored to meet your unique requirements.
        
        With our user-friendly interface, you'll gain real-time visibility into your energy usage, enabling you to make informed decisions and take proactive steps towards a more sustainable future. By identifying energy-saving opportunities and providing actionable insights, our system empowers you to not only save money but also contribute to a greener planet.
        
        Join us on this journey towards a more sustainable and cost-effective future. Explore the endless possibilities our Energy Management System offers and discover how we can help you harness the power of efficient energy management. Together, we can make a significant difference for your bottom line and the environment. Welcome to a brighter, more sustainable tomorrow!
        </p>
    </div>
</div>
