/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.navbar {
    background-color: #007bff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between; /* Aici folosim justify-content: space-between pentru a separa elementele pe axa orizontală. */
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
}

.navbar-buttons {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #007bff;
    text-decoration: none;
    color: aliceblue;
    border: none;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 20px;
}

.navbar-buttons:hover {
    background-color:#3999ff;
    
}
.brand {
    color: #fff;
    text-decoration: none;
    margin-left: 20px; /* Margin-left adaugă un spațiu între marginea stângă și textul "EnergyApp". */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
