<div class="container">
    <h2>Create Device</h2>
    <form>
      <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" class="form-control create-description" [(ngModel)]="description">
      </div>
      
      <div class="form-group">
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" class="form-control create-address" [(ngModel)]="address">
      </div>
      
      <div class="form-group">
        <label for="maxConsumption">Max Consumption:</label>
        <input type="number" id="maxConsumption" name="maxConsumption" min="1" class="form-control create-max-consumption" [(ngModel)]="maxConsumption" >
      </div>
      
      <div class="form-group">
        <label for="userID">User ID:</label>
        <input type="text" id="userID" name="userID" class="form-control create-user-id" [(ngModel)]="userID">
      </div>
      
      <button type="submit" class="btn btn-primary create-button" (click)="createDevice(description, address, maxConsumption, userID)">Create</button>
    </form>

    <div *ngIf="successMsg" class="success-message">
      {{ successMsg }}
    </div>


    <div *ngIf="errorMsg" class="error-message">
      {{ errorMsg }}
    </div>

  </div>
  